0529 회사 데이터프레임 합치는 작업 간소화 ipynb

In [2]:
import pandas as pd

In [26]:
def change_columns(data):

    col1=data.columns[-1:].to_list()
    col2=data.columns[:-1].to_list()

    new_col=col1+col2

    data = data[new_col]
    return data

In [5]:
data1 = pd.read_excel("C:/Users/byeongsu/Documents/업무/vscode/220524_2022 서베이링크 패널 프로파일 조사_중간.xlsx")

In [6]:
data2 = pd.read_excel("C:/Users/byeongsu/Documents/업무/vscode/220524_2022 서베이링크 패널 프로파일 조사_중간(통합).xlsx")

In [7]:
data1.columns = data2.columns

In [8]:
merge_outer = pd.merge(data1,data2, how='outer',on='UID', suffixes=("_data1", "_data2"))

In [27]:
table1 = pd.DataFrame()
table2 = pd.DataFrame()


for i in range(0, len(merge_outer.columns)):
    if "data1" in merge_outer.columns[i]:
        table1 = pd.concat([table1, merge_outer[merge_outer.columns[i]]], axis=1)
    if "data2" in merge_outer.columns[i]:
        table2 = pd.concat([table2, merge_outer[merge_outer.columns[i]]], axis=1)

In [28]:
# 원본 데이터 살리기
table1_dummy = table1.copy()
table2_dummy = table2.copy()

In [29]:
table1.head(1)

,TYPE_data1,ATYPE_data1,BTYPE_data1,CTYPE_data1,AQ1_data1,AQ2_data1,AQ2_1_data1,AQ2_R_data1,AQ3_data1,AQ4_data1,...,CQ22_1#1_data1,CQ22_1#2_data1,CQ22_1#3_data1,CQ22_1#4_data1,CQ22_1#5_data1,CQ22_1#6_data1,CQ22_1#7_data1,CQ22_1#8_data1,CQ22_2_data1,CQ22_3_data1
0,1.0,A,B,C,1.0,1975.0,47.0,5.0,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
table1.shape, merge_outer.shape

((30074, 817), (30074, 1635))

In [31]:
table1 = pd.concat([table1,merge_outer['UID']], axis=0, ignore_index=True)
table2 = pd.concat([table2,merge_outer['UID']], axis=0, ignore_index=True)

In [25]:
merge_outer['UID'].head(1)

0    20110729Qa4592000007
Name: UID, dtype: object

In [32]:
table1.head(1)

,0,AQ10_data1,AQ11_1_data1,AQ11_data1,AQ12_data1,AQ13#10_data1,AQ13#1_data1,AQ13#2_data1,AQ13#3_data1,AQ13#4_data1,...,CQ9_4#75_data1,CQ9_4#80_data1,CQ9_4#81_data1,CQ9_4#82_data1,CQ9_4#83_data1,CQ9_4#84_data1,CQ9_4#85_data1,CQ9_4#98_data1,CTYPE_data1,TYPE_data1
0,NaN,2.0,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,C,1.0

In [33]:
# 컬럼 위치 바꾸기 -- 0529 수정 [ concat으로 바꿈으로써 필요없어짐 ]
# table1 = change_columns(table1)
# table2 = change_columns(table2)

In [34]:
table1.columns = data1.columns
table2.columns = data2.columns

In [35]:
table1.update(table2,overwrite=False)

In [36]:
table1.to_csv("result.csv")