0529 회사 데이터프레임 합치는 작업 간소화 ipynb

In [14]:
import pandas as pd

In [15]:
data1 = pd.read_excel("220524_2022 서베이링크 패널 프로파일 조사_중간.xlsx")

In [16]:
data2 = pd.read_excel("220524_2022 서베이링크 패널 프로파일 조사_중간(통합).xlsx")

In [18]:
data1.columns = data2.columns

In [37]:
merge_outer = pd.merge(data1,data2, how='outer',on='UID', suffixes=("_data1", "_data2"))

In [58]:
table1 = pd.DataFrame()
table2 = pd.DataFrame()


for i in range(0, len(merge_outer.columns)):
    if "data1" in merge_outer.columns[i]:
        table1 = pd.concat([table1, merge_outer[merge_outer.columns[i]]], axis=1)
    if "data2" in merge_outer.columns[i]:
        table2 = pd.concat([table2, merge_outer[merge_outer.columns[i]]], axis=1)

In [59]:
table1['UID'] = merge_outer['UID']
table2['UID'] = merge_outer['UID']

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_36048\804767984.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  table1['UID'] = merge_outer['UID']
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_36048\804767984.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  table2['UID'] = merge_outer['UID']

In [60]:
col1=table1.columns[-1:].to_list()
col2=table1.columns[:-1].to_list()
new_col=col1+col2
table1=table1[new_col]

In [61]:
col1=table2.columns[-1:].to_list()
col2=table2.columns[:-1].to_list()
new_col=col1+col2
table2=table2[new_col]

In [64]:
table1.head()

,UID,TYPE,ATYPE,BTYPE,CTYPE,AQ1,AQ2,AQ2_1,AQ2_R,AQ3,...,CQ22_1#1,CQ22_1#2,CQ22_1#3,CQ22_1#4,CQ22_1#5,CQ22_1#6,CQ22_1#7,CQ22_1#8,CQ22_2,CQ22_3
0,20110729Qa4592000007,1.0,A,B,C,1.0,1975.0,47.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20110809Ec9111000338,1.0,A,B,C,1.0,1984.0,38.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20110809Mj7590000426,1.0,A,B,NaN,1.0,1984.0,38.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20110809Ti5172000511,1.0,A,B,C,1.0,1983.0,39.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20110809Vh8926000018,1.0,A,B,C,2.0,1992.0,30.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
table1.columns = data1.columns
table2.columns = data2.columns

In [66]:
table1.update(table2,overwrite=False)

In [74]:
table1.to_csv("result.csv")